@rendermode InteractiveServer
@page "/"
@    using Povozka.Components.Components
@    using Povozka.Components.Data

<PageTitle>Authorisation</PageTitle>

<p>
    @(UserContext.CurrentUser is null ? "Not logged in" : $"Current UID: {UserContext.CurrentUser.ID} ")
    @if (!(UserContext.CurrentUser is null))
    {
        <a href="" @onclick="Logout">Logout</a>
    }
</p>

 @if(!_isLogining)
{
    <LoginFormComponent Login="Login" ChangeForm="Change"></LoginFormComponent>
} 
 else
{ 
    <RegistrationFormComponent Login="Login" ChangeForm="Change"></RegistrationFormComponent>
} 
@* <NavLink href="chats">sawdsa</NavLink> *@

@code{
    private bool _isLogining;

    private void Change() {
        _isLogining = !_isLogining;
    }

    private void Login(User user) {
        UserContext.CurrentUser = user;
    }

    private void Logout() {
        UserContext.CurrentUser = null;
    }
}